
publish.js
run_publish.bat
publishFoundryModule.js
**/*.log
**/*.old
**/LOCK
**/LOG
packs/sirnilocs-monsters/LOG.old
packs/sirnilocs-monsters/LOG
packs/sirnilocs-monster-abilities/LOG.old
packs/sirnilocs-monster-abilities/LOG
